<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <div>
        {{#each user}}
        <div>
            <p>{{profile.name}}</p>
        </div>
        <div>
            <p>{{profile.branch}}</p>
        </div>
        <div>
            <p>{{profile.year}}</p>
        </div>
        <div>
            <p>{{profile.email}}</p>
        </div>
        {{/each}}
    </div>

    <div>
        <h2>Created</h2>
        {{#each magscreat}}
        <div class="card-body d-flex flex-column grid align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{topic}}</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="#">{{title}}</a>
            </h3>
            <div class="mb-1 text-muted">{{date}}</div>
            <div class="mb-1 text-muted">{{time}}</div>
            <p class="card-text mb-auto">{{description}}</p>
            <form method="POST" action="/magdelete/{{id}}?_method=DELETE" >
                <input class="btn btn-sm btn-outline-secondary" type="submit" value="Delete" />
            </form>
        </div>
        {{/each}}
    </div>
    <div>
        <h2>Attended</h2>
        {{#each magpart}}
        <div class="card-body d-flex flex-column grid align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{topic}}</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="#">{{title}}</a>
            </h3>
            <div class="mb-1 text-muted">{{date}}</div>
            <div class="mb-1 text-muted">{{time}}</div>
            <p class="card-text mb-auto">{{description}}</p>
            <form action="/magdelete/{{id}}" action="/mag?_method=DELETE">
                <button class="btn btn-sm btn-outline-secondary" type="submit">Delete</button>
            </form>
        </div>
        {{/each}}
    </div>
</main>