<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    <div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>
                                    {{user.profile.name}}</h4>
                                <p>
                                    <i class="glyphicon glyphicon-envelope"></i>{{user.profile.email}}
                                    <br />
                                    <i class="glyphicon glyphicon-globe"></i>
                                    <i class="glyphicon glyphicon-envelope">{{user.profile.branch}}</a>
                                        <br />
                                        <i class="glyphicon glyphicon-gift"></i>{{user.profile.year}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h1>Created</h1>
        {{#each magscreat}}
        <div class="card-body d-flex flex-column grid align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{topic}}</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="#">{{title}}</a>
            </h3>
            <div class="mb-1 text-muted">{{date}}</div>
            <div class="mb-1 text-muted">{{time}}</div>
            <p class="card-text mb-auto">{{description}}</p>
            <form method="POST" action="/magdelete/{{id}}?_method=DELETE">
                <input class="btn btn-sm btn-outline-secondary" type="submit" value="Delete" />
            </form>
        </div>
        {{/each}}
    </div>
    <hr>
    <div>
        <h1>Enrolled</h1>
        {{#each magpart}}
        <div class="card-body d-flex flex-column grid align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{topic}}</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="#">{{title}}</a>
            </h3>
            <div class="mb-1 text-muted">{{date}}</div>
            <div class="mb-1 text-muted">{{time}}</div>
            <p class="card-text mb-auto">{{description}}</p>
        </div>
        {{/each}}
    </div>
</main>