
<form method="get" action="/notes_entry">
<button type="submit">Add a Note</button>
</form>
<form method="get" action="/mynotes">
<button type="submit">View My Note</button>
</form>
<div className="row dib br3 pa3 ma2 grow bw2 shadow-5"/>
{{#each resource}}
	<h3>{{title}}</h3><br>
	<h3>{{subject}}</h3><br>
	<h3>{{semester}}</h3><br>
	<h3>{{hashtags}}</h3><br>
	<h3>{{user_id}}</h3><br>
	<h3>{{link}}</h3>
	
	</div>
	<br>
{{/each}}
	 {{!--0 --}}
